/* Selector de atributos en los cuales el primero, significa las clases que empiecen con icon-; y
el segundo todas las clases que contenga ' icon-' en algún lado */
/* [class^='icon-'], [class*=' icon-'] { */
    /* Que el contenido cubra toda el espacio para no ver un patrón */
    /* background-size: cover; */
    /* Como i es un elemento inline y no puede tener ni ancho ni alto 
    se pone un display inline-block para que esté contenido en si mismo */
    /* display: inline-block; */
    /* inline-size: 50px; */
    /* block-size: 50px; */
/* } */

/* .icon-home {
    background-image: url('../icons/home.svg');
} */

/* Importación de la fuente  pegar el css que nos da iconmoon*/
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?uroequ');
    src:  url('../fonts/icomoon.eot?uroequ#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?uroequ') format('truetype'),
      url('../fonts/icomoon.woff?uroequ') format('woff'),
      url('../fonts/icomoon.svg?uroequ#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  /* Selector de la fuente */
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    /* Que no lo intente leer ya que es gráfico */
    speak-as: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-addPlus:before {
    content: "\e900";
  }
  .icon-arrowLeft:before {
    content: "\e901";
  }
  .icon-arrowRight:before {
    content: "\e902";
  }
  .icon-calendar:before {
    content: "\e903";
  }
  .icon-clock:before {
    content: "\e904";
  }
  .icon-close:before {
    content: "\e905";
  }
  .icon-credit-card:before {
    content: "\e906";
  }
  .icon-download:before {
    content: "\e907";
  }
  .icon-heart:before {
    content: "\e908";
  }
  .icon-homeActive:before {
    content: "\e909";
  }
  .icon-home:before {
    content: "\e90a";
  }
  .icon-libraryActive:before {
    content: "\e90b";
  }
  .icon-library:before {
    content: "\e90c";
  }
  .icon-music:before {
    content: "\e90d";
  }
  .icon-next:before {
    content: "\e90e";
  }
  .icon-pause:before {
    content: "\e90f";
  }
  .icon-play:before {
    content: "\e910";
  }
  .icon-prev:before {
    content: "\e911";
  }
  .icon-round:before {
    content: "\e912";
  }
  .icon-searchActive:before {
    content: "\e913";
  }
  .icon-search:before {
    content: "\e914";
  }
  .icon-Vector:before {
    content: "\e915";
  }
  .icon-volumeDown:before {
    content: "\e916";
  }
  .icon-volumeOff:before {
    content: "\e917";
  }
  .icon-volumeUp:before {
    content: "\e918";
  }
  