@import './icons.css';
@import './fonts.css';
@import './body.css';
@import './link.css';
@import './button-icon.css';
@import './sidebar.css';
@import './ellipsis.css';


/* Documentación de paleta de colores y fuente principal y alternativas*/
:root {
    font-size: 16px;
    --primary: #00B050;
    --white: #ffffff;
    --gray10: #B3B3B3;
    --gray20: #737373;
    --gray30: #282828;
    --gray40: #181818;
    --gray50: #121212;
    --gray60: #000000;
    --baseFontFamily: Avenir, Helvetica, sans-serif;
    /* Lo siguiente es gracias a la propiedad font para más documentación ir a mozilla */
    --headLine1: bold 2rem/normal var(--baseFontFamily);
    --headLine2: bold 1.5rem/1.75rem var(--baseFontFamily);
    --baseFont: normal 0.875rem/1.375rem var(--baseFontFamily);
    --baseFontBold: bold 0.875rem/1.375rem var(--baseFontFamily);
    --button: bold 0.875rem/1rem var(--baseFontFamily);
    /* em se deja en small para que esto sea relativo al padre directo no al css global como en los rem */
    --small: normal 0.75em/normal var(--baseFontFamily);
}
