:root {
    --sidebarInlineSize: 15rem;
    --minBlockSize: 37.5rem;
    --minInlinesize: 48rem;
    --bottomSize: 5.5rem;
}

.layout {
    min-inline-size: var(--minInlinesize);
}

.layout-sidebar {
    block-size: calc(100vh - var(--bottomSize));
    min-block-size: var(--minBlockSize);
    inline-size: var(--sidebarInlineSize);
    overflow: auto;
    flex-shrink: 0;
    background: var(--gray60);
}

.layout-main {
    block-size: calc(100vh - var(--bottomSize));
    min-block-size: var(--minBlockSize);
    overflow: auto;
}

.layout-bottom {
    flex: 1;
    block-size: var(--bottomSize);
}

.layout-block {
    display: flex;
}