.navigation {
    flex-shrink: 0;
}

.navigation button {
    inline-size: 1.875rem;
    block-size: 1.875rem;
    border-radius: 50%;
    background: var(--gray60);
    border: none;
}

.navigation button:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.navigation-prev i {
    position: relative;
    right: 1px;
    color: var(--gray10);
}

.navigation-next i {
    position: relative;
    left: 1px;
    color: var(--gray10);
}