.slider {
    /* inline-size: 200px;  Solo para prueba*/
    background: rgba(255, 255, 255, .2);
    block-size: .25rem;
    border-radius: .5rem;
}

.slider:hover .slider-progress{
    background: var(--primary);
}

.slider:hover .slider-button {
    display: block;
}

.slider-progress {
    /* Se hereda el mismo tamaño que el el padre con inherit */
    block-size: inherit;
    border-radius: inherit;
    background: var(--white);
    inline-size: 20%;
    position: relative;
}


.slider-button {
    background: var(--white);
    /* Quitar estilos predeterminados al botón */
    padding: 0;
    border: 0;

    /* Hacerlo dependiente del padre con el uso de porcentaje */
    block-size: 200%;
    /* Darle el mismo alto con respecto al ancho */
    aspect-ratio: 1/1;
    border-radius: 50%;
    /* Para ubicar al botón cerca de la barra de progreso */
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
}