.alignItems {
    display: flex;
    border: 1px solid red;
    max-inline-size: 200px;
    flex-direction: column;
    align-items: flex-start;
}

.alignItems img {
    inline-size: 100px;
}

.alignItems img:nth-child(odd) {
    align-self: flex-end;
}

.alignItems img:nth-of-type(1) {
    align-self: center;
    border-radius: 50%;
    margin-block-end: 2rem;
}