/* Dar contexto flex a las clases de flexOrder y un espaciado entre flex items */
.flexOrder {
    display: flex;
    gap: 5em;
}

/* Para fines estéticos poner las imágenes redondas */
.flexOrder img {
    border-radius: 50%;
}

/* seleccionar los párrafos pares de la clase (para impar usamos even) y cambiarle el order por defecto */
.flexOrder:nth-child(odd) p {
    border: 1px solid red;
    order: -1;
}