.flex {
    display: flex;
    background: lightcyan;
}

/* Todos los elementos dentro de la clase flex */
/* .flex > * { */
    /* border: 1px solid red !important;
    flex-basis: 1px;
    flex-grow: 2; */
    /* flex-grow: La capacidad de cuanto se agranda de 0 a 1; */
    /* flex-shrink: La capacidad de cuanto se achica; */
    /* flex-basis: Tamaño por defecto de un elemento; */
    /* padding: 1rem !important; */
/* }˛ */

.flex > div {
    /* flex-grow: 1;
    flex-basis: 100%; */
    flex: 1;
}

.flex > img {
    inline-size: 400px;
    /* para que no se achique */
    flex-shrink: 0;
}

/* .flex > p {
    flex-grow: 1;
    border: 1px solid green !important;
    flex-basis: 50px;
} */