.ellipsis {
    overflow: hidden;
}

/* Truncar los textos para que no se desborden */
.ellipsis > * {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}